h1, h3 {
    text-align:center;
}
h3 {
    background-color:black;
    color:grey;
    font-size:0.9em;
    margin-bottom:0px;
}

.news p {
    background-color:#CCCCCC;
    margin-top:0px;
}
.news {
    width:70%;
    margin:auto;
}

.image_container {
    width: 80%;
    height: 100%;
}

#parallax_image {
    background-image: url("../images/backgroundAlaska.jpg");
    text-shadow: 1px 1px 10px #000;
    width: 100%;
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax_image2 {
    background-image: url("../images/1094231.jpg");
    text-shadow: 1px 1px 10px #000;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

label {
    color: grey;
}

form {
    width: 50%;
    margin: auto;
}


